In [286]:
from sklearn import preprocessing 
from sklearn.model_selection import GridSearchCV 
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import RandomForestRegressor

import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.options.mode.chained_assignment = None

In [287]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
submit = pd.read_csv('gender_submission.csv')

In [288]:
data = train.append(test)
data.reset_index(inplace=True, drop=True)

In [289]:
data['Family_Size'] = data['Parch'] + data['SibSp']

In [290]:
data['Title1'] = data['Name'].str.split(", ", expand=True)[1]
data['Title1'] = data['Title1'].str.split(".", expand=True)[0]
#data['Title2'] = data['Title1'] \
#.replace(['Mlle','Mme','Ms','Dr','Major','Lady','the Countess','Jonkheer','Col','Rev','Capt','Sir','Don','Dona'],
#         ['Miss','Mrs','Miss','Mr','Mr','Mrs','Mrs','Mr','Mr','Mr','Mr','Mr','Mr','Mrs'])

In [291]:
'''''
data["Title2"]=data["Title1"].replace(['Mr','Don'],'Mr')
data["Title2"]=data["Title1"].replace(['Mrs','Miss','Mme','Ms','Lady','Dona','Mlle'],'Ms')
data["Title2"]=data["Title1"].replace(['Sir','Major','Col','Capt'],'Major')
data["Title2"]=data["Title1"].replace(['Master','Jonkheer','the Countess'],'Jonkheer')
#data["Title2"]=data["Title1"].replace(['Rev','Dr'],'Rev')

In [292]:
data['Ticket_info'] = \
data['Ticket'].apply(lambda x : x.replace(".","").replace("/","").strip().split(' ')[0] if not x.isdigit() else 'X')

In [293]:
data['Embarked'] = data['Embarked'].fillna('S')

In [294]:
data['Fare'] = data['Fare'].fillna(data['Fare'].mean())

In [295]:
data["Cabin"] = data['Cabin'].apply(lambda x : str(x)[0] if not pd.isnull(x) else 'NoCabin')

In [296]:
# Label Encoding : http://pbpython.com/categorical-encoding.html
data['Sex'] = data['Sex'].astype('category').cat.codes
data['Embarked'] = data['Embarked'].astype('category').cat.codes
data['Pclass'] = data['Pclass'].astype('category').cat.codes
data['Title2'] = data['Title2'].astype('category').cat.codes
data['Cabin'] = data['Cabin'].astype('category').cat.codes
data['Ticket_info'] = data['Ticket_info'].astype('category').cat.codes
data.head(5)

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Family_Size,Title1,Title2,Ticket_info
0,22.0,7,2,7.2500,"Braund, Mr. Owen Harris",0,1,2,1,1,0.0,A/5 21171,1,Mr,11,2
1,38.0,2,0,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,0,0,1,1.0,PC 17599,1,Mrs,12,14
2,26.0,7,2,7.9250,"Heikkinen, Miss. Laina",0,3,2,0,0,1.0,STON/O2. 3101282,0,Miss,8,31
3,35.0,2,2,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,0,0,1,1.0,113803,1,Mrs,12,36
4,35.0,7,2,8.0500,"Allen, Mr. William Henry",0,5,2,1,0,0.0,373450,0,Mr,11,36

In [297]:
dataAgeNull = data[data["Age"].isnull()]
dataAgeNotNull = data[data["Age"].notnull()]
print(data.describe())

remove_outlier = \
dataAgeNotNull[~((np.abs(dataAgeNotNull["Fare"]-dataAgeNotNull["Fare"].mean())>(4*dataAgeNotNull["Fare"].std()))|
(np.abs(dataAgeNotNull["Ticket_info"]-dataAgeNotNull["Ticket_info"].mean())>(4*dataAgeNotNull["Ticket_info"].std())))]



rfModel_age = RandomForestRegressor(n_estimators=2000,random_state=42)
ageColumns = ['Embarked', 'Fare', 'Pclass', 'Sex', 'Family_Size', 'Title2','Cabin','Ticket_info']
rfModel_age.fit(remove_outlier[ageColumns], remove_outlier["Age"])


ageNullValues = rfModel_age.predict(X= dataAgeNull[ageColumns])
dataAgeNull.loc[:,"Age"] = ageNullValues
data = dataAgeNull.append(dataAgeNotNull)
data.reset_index(inplace=True, drop=True)

               Age        Cabin     Embarked         Fare        Parch  \
count  1046.000000  1309.000000  1309.000000  1309.000000  1309.000000
mean     29.881138     5.955691     1.493506    33.295479     0.385027
std      14.413493     2.057178     0.814244    51.738879     0.865560
min       0.170000     0.000000     0.000000     0.000000     0.000000
25%      21.000000     7.000000     1.000000     7.895800     0.000000
50%      28.000000     7.000000     2.000000    14.454200     0.000000
75%      39.000000     7.000000     2.000000    31.275000     0.000000
max      80.000000     8.000000     2.000000   512.329200     9.000000

       PassengerId       Pclass          Sex        SibSp    Survived  \
count  1309.000000  1309.000000  1309.000000  1309.000000  891.000000
mean    655.000000     1.294882     0.644003     0.498854    0.383838
std     378.020061     0.837836     0.478997     1.041658    0.486592
min       1.000000     0.000000     0.000000     0.000000    0.000000
25%     328.000000     1.000000     0.000000     0.000000    0.000000
50%     655.000000     2.000000     1.000000     0.000000    0.000000
75%     982.000000     2.000000     1.000000     1.000000    1.000000
max    1309.000000     2.000000     1.000000     8.000000    1.000000

       Family_Size       Title2  Ticket_info
count  1309.000000  1309.000000  1309.000000
mean      0.883881    10.181818    30.428571
std       1.583639     1.984020    10.479504
min       0.000000     0.000000     0.000000
25%       0.000000     8.000000    31.000000
50%       0.000000    11.000000    36.000000
75%       1.000000    11.000000    36.000000
max      10.000000    15.000000    36.000000

In [298]:
dataTrain = data[data['Survived'].notnull()].sort_values(by=["PassengerId"])
dataTest = data[data['Survived'].isnull()].sort_values(by=["PassengerId"])

In [299]:
dataTrain = dataTrain[['Survived', 'Age', 'Embarked', 'Fare',  'Pclass', 'Sex', 'Family_Size', 'Title2','Ticket_info','Cabin']]
dataTest = dataTest[['Age', 'Embarked', 'Fare', 'Pclass', 'Sex', 'Family_Size', 'Title2','Ticket_info','Cabin']]

In [300]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics, cross_validation
from sklearn.cross_validation import train_test_split
 
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=1000,
                             min_samples_split=12,
                             min_samples_leaf=1,
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)

In [301]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(rf, dataTrain.iloc[:, 1:], dataTrain.iloc[:, 0], cv=10)
scores.mean()

0.83057059357621144

In [302]:
from sklearn.model_selection import cross_val_predict
predicted = cross_val_predict(rf, dataTrain.iloc[:, 1:], dataTrain.iloc[:, 0], cv=10)
metrics.accuracy_score(dataTrain.iloc[:, 0], predicted)

0.83052749719416386

In [303]:

X_train, X_test, y_train, y_test = train_test_split(dataTrain.iloc[:, 1:], dataTrain.iloc[:, 0])
rf.fit(X_train, y_train)
rf_res =  rf.predict(X_test)
print(metrics.classification_report(y_test, rf_res))

             precision    recall  f1-score   support

        0.0       0.84      0.90      0.87       138
        1.0       0.81      0.72      0.76        85

avg / total       0.83      0.83      0.83       223

In [304]:
#print(submit)                        # submit = pd.read_csv('Titanic/gender_submission.csv')
rf.fit(dataTrain.iloc[:, 1:], dataTrain.iloc[:, 0])
rf_res =  rf.predict(dataTest)
submit['Survived'] = rf_res        
print(submit)
submit['Survived'] = submit['Survived'].astype(int)
submit.to_csv('submit.csv', index= False)

     PassengerId  Survived
0            892       0.0
1            893       0.0
2            894       0.0
3            895       0.0
4            896       1.0
5            897       0.0
6            898       0.0
7            899       0.0
8            900       1.0
9            901       0.0
10           902       0.0
11           903       0.0
12           904       1.0
13           905       0.0
14           906       1.0
15           907       1.0
16           908       0.0
17           909       0.0
18           910       0.0
19           911       1.0
20           912       0.0
21           913       1.0
22           914       1.0
23           915       0.0
24           916       1.0
25           917       0.0
26           918       1.0
27           919       0.0
28           920       0.0
29           921       0.0
..           ...       ...
388         1280       0.0
389         1281       0.0
390         1282       0.0
391         1283       1.0
392         1284       1.0
393         1285       0.0
394         1286       0.0
395         1287       1.0
396         1288       0.0
397         1289       1.0
398         1290       0.0
399         1291       0.0
400         1292       1.0
401         1293       0.0
402         1294       1.0
403         1295       0.0
404         1296       0.0
405         1297       0.0
406         1298       0.0
407         1299       0.0
408         1300       1.0
409         1301       1.0
410         1302       1.0
411         1303       1.0
412         1304       0.0
413         1305       0.0
414         1306       1.0
415         1307       0.0
416         1308       0.0
417         1309       1.0

[418 rows x 2 columns]